.badge-icon {
	font-size: 4rem;
}

.badge {
	position: absolute;
	left: 3.3rem;
	bottom: 2.7rem;
	font-size: 1.2rem;
	color: var(--color-white);
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

/* colors */
.red-badge {
	background-color: var(--color-red-600);
}

.green-badge {
	background-color: var(--color-green-600);
}

.blue-badge {
	background-color: var(--color-blue-600);
}

/* small badges without numbers */
.badge-sm {
	width: 1rem;
	height: 1rem;
}

/* badges on avatar */
.avatar {
	width: 4rem;
	height: 4rem;
	font-size: 1.5rem;
}

.avatar-badge {
	position: relative;
	border-radius: 50%;
}

.badge-btm {
	bottom: 0.6rem;
	left: 3rem;
}

.border-white {
	border: 1px solid white;
}
