.avatar-xsm {
	width: 3rem;
	height: 3rem;
	font-size: 1rem;
}

.avatar-sm {
	width: 4rem;
	height: 4rem;
	font-size: 1.5rem;
}

.avatar-lg {
	width: 5rem;
	height: 5rem;
	font-size: 2rem;
}

.avatar-xlg {
	width: 7rem;
	height: 7rem;
	font-size: 2.5rem;
}

/* letter avatar */
.letter-avatar {
	background-color: var(--dark-blue);
}
